@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --backgroundColor: #f4f4f4;
  --backgroundColorDark: #131418;
  --navColorDark: #1b1e23;
  --navColor: #fff;
  --theme-color: #df2e38;
  --Light-theme-color: #df2e381a;
  --borderColor: #df2e3880;
  --cardColor: #1b1e2366;
  --text-color: #94a3b8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  color: var(--backgroundColorDark);
  scroll-behavior: smooth;
  background-color: var(--backgroundColor);
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

  .circle-border {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: transparent;
  }
  .circle-border::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 3px; 
    background: conic-gradient(
      #FF3737,         
      transparent 33% 36%, 
      #1CBABA,      
      transparent 66% 69%, 
      #FFB700     
    );
    -webkit-mask: content-box, border-box;
    mask: content-box, border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  /* For dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    background-color: var(--backgroundColorDark);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--backgroundColorDark);
  }

  ::-webkit-scrollbar-thumb {
    border-color: var(--backgroundColorDark);
  }

  * {
    scrollbar-color: var(--theme-color) var(--backgroundColorDark);
  }
}

/* Optional: Hide scrollbar when not scrolling */
::-webkit-scrollbar-thumb {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

